# Dependencies
node_modules/

# Environment Variables
.env
.env.local
.env.development
.env.test
.env.production

# Build Outputs
dist/
build/

# IDE and OS Files
.DS_Store
.vscode/
.idea/

# Custom Exclusions
contextFiles/
